@charset "UTF-8";
@import "https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800&display=swap";
header {
  height: 6em;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #fff;
  vertical-align: middle;
  box-sizing: border-box;
  z-index: 999;
}

#logo {
  width: 12em;
  height: 8em;
  margin: 1em 0;
}

#logo img {
  float: left;
}

#logo img:nth-child(1) {
  width: 24%;
  margin-top: 0.5em;
  transition: 0.3s;
}

#logo #logoIcon:hover {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  cursor: pointer;
  filter: brightness(0%);
  -webkit-filter: brightness(0%);
  -moz-filter: brightness(0%);
}

#logoIcon .active {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  cursor: pointer;
  filter: brightness(0%);
  -webkit-filter: brightness(0%);
  -moz-filter: brightness(0%);
}

#logo img:nth-child(2) {
  width: 74%;
  margin-left: 2%;
}

/* facebook link in hamburger menu */
#fb {
  width: 2em;
  display: block;
}

#logo {
  display: inline-block;
}

.phoneNumber {
  font-size: 1.5em;
  font-weight: 600;
  display: inline-block;
  float: right;
  color: #000000;
  margin-top: 1.5em;
}

@media screen and (min-width: 700px) {
  header span:hover .phoneHeader {
    filter: brightness(0%);
    -webkit-filter: brightness(0%);
    -moz-filter: brightness(0%);
    -o-filter: brightness(0%);
  }

  header span:hover .phoneNumber {
    color: #ffca00 !important;
  }
}
.phoneHeader {
  vertical-align: middle;
  display: inline-block;
  height: 3em;
  float: right;
  margin: 1.8em 0.5em;
  filter: brightness(100%);
  -webkit-filter: brightness(100%);
  -moz-filter: brightness(100%);
  -o-filter: brightness(100%);
}

@media screen and (max-width: 700px) {
  .phoneHeader {
    margin-top: 0.75em;
    display: inline-block;
    height: 6vh;
    max-height: 6vh;
    width: auto;
    padding: 1.5vh 0 1.5vh 1.5vh;
  }

  .phoneNumber {
    display: none;
  }
}
#fb {
  padding: none;
  margin-top: 5vh;
  filter: brightness(100%);
  -webkit-filter: brightness(100%);
  -moz-filter: brightness(100%);
  -o-filter: brightness(100%);
}

#fb:hover {
  filter: brightness(0%);
  -webkit-filter: brightness(0%);
  -moz-filter: brightness(0%);
  -o-filter: brightness(0%);
}

.sidenav {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 10000;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  left: 0;
  background-color: #fff;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 2em;
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */
  font-weight: 300;
}

.sidenav a {
  padding: 0.25em 1em;
  text-decoration: none;
  font-size: 1.5em;
  color: #333;
  display: block;
  transition: 0.3s;
  background-color: white;
  transition: 0.3s;
}

.sidenav a:first-child:hover,
.sidenav a:last-child:hover {
  background-color: white;
}

.sidenav a:hover {
  background-color: rgba(255, 202, 0, 0.3);
}

.sidenav .closebtn:hover {
  background-color: white !important;
}

.sidenav .homeLink {
  margin-top: 2em;
}

.sidenav a:hover {
  color: #000;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 50px;
  background-color: none !important;
  font-weight: 600;
  padding: 0 0.5em;
}

#main {
  transition: margin-left 0.5s;
  padding: 20px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}
.sidenav #logo {
  display: block;
  cursor: pointer;
  width: 8em;
  height: 6em;
  vertical-align: middle;
}

.sidenav #logo:nth-child(1) {
  pointer-events: none;
}

@media screen and (max-width: 1400px) {
  .sidenav a:first-child {
    display: block;
  }
}
/* GDPR Consent */
#consent-popup {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.5em 8em;
  background-color: #fff;
  font-size: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-box-shadow: 0px -3px 17px -5px #dedede;
  -moz-box-shadow: 0px -3px 17px -5px #dedede;
  box-shadow: 0px -3px 17px -5px #dedede;
  transition: all 1s ease-out;
  font-weight: 600;
}

#consent-popup.hidden {
  opacity: 0;
  bottom: -10em;
}

#consent-popup .consent-text {
  padding: 0.5em 0;
  vertical-align: middle;
}

#consent-popup .consent-buttons {
  text-align: right;
}

#consent-popup .consent-buttons * {
  padding: 1em 2em;
  text-decoration: none;
  font-weight: 700;
}

#consent-popup .consent-buttons #accept {
  background-color: #ffca00;
  color: #000;
  margin-right: 1em;
  cursor: pointer;
  transition: 0.3s all ease-out;
}

#consent-popup .consent-buttons #accept:hover {
  color: #fff;
  background: #000;
}

@media only screen and (max-width: 900px) {
  #consent-popup {
    display: block;
  }

  #consent-popup .consent-text {
    padding: 0 0 1em 0;
  }

  #consent-popup .consent-buttons {
    text-align: left;
    padding-bottom: 1em;
  }
}
@media only screen and (max-width: 600px) {
  #consent-popup {
    padding: 1em;
    font-weight: 400;
  }

  #consent-popup .consent-buttons {
    text-align: center;
    font-weight: 600;
  }
}
.productGrid .info h1 {
  font-weight: 600;
}

button:focus,
input:focus {
  outline: none;
}

/* OBECNÁ NASTAVENÍ */
a,
li {
  list-style: none;
  text-decoration: none;
  color: black;
}

body {
  width: 100%;
  padding: 8em 0 0 0;
  margin: 0;
  background-color: #eaeaea;
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
}

*::selection {
  background-color: rgba(255, 202, 0, 0.5);
}

*::-moz-selection {
  background-color: rgba(255, 202, 0, 0.5);
}

/* all titles on all the pages */
.title {
  display: block;
  font-weight: 900;
  width: 100%;
  padding: 0;
  font-size: 2em;
  text-align: left;
}

.title:hover {
  cursor: default;
}

.title img {
  height: 5vh;
}

/* content wrapper in all the pages */
.wrapper {
  max-width: 1200px;
  padding: 0 4em;
  margin: 0 auto;
  display: block;
  position: relative;
  box-sizing: border-box;
}

#landing {
  text-align: center;
  width: 100% !important;
  height: 100% !important;
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  backface-visibility: hidden;
  margin-top: -4em;
  padding: 6em 0;
  animation: slideBg 20s linear infinite 0s;
  animation-timing-function: ease-in-out;
  background: url("/wp-content/themes/bagrujeu/img/landing-photos/1.jpg");
}

@keyframes slideBg {
  0% {
    background: url("/wp-content/themes/bagrujeu/img/landing-photos/1.jpg");
  }
  20% {
    background: url("/wp-content/themes/bagrujeu/img/landing-photos/2.jpg");
  }
  40% {
    background: url("/wp-content/themes/bagrujeu/img/landing-photos/3.jpg");
  }
  60% {
    background: url("/wp-content/themes/bagrujeu/img/landing-photos/4.jpg");
  }
  80% {
    background: url("/wp-content/themes/bagrujeu/img/landing-photos/5.jpg");
  }
  100% {
    background: url("/wp-content/themes/bagrujeu/img/landing-photos/1.jpg");
  }
}
.cell {
  display: inline-block;
  transition: 0.3s all ease-in-out;
  vertical-align: top;
  margin: 0 1%;
}

.cell p {
  text-align: center;
  font-size: 1.3em;
  cursor: default;
  font-weight: 600;
}

.cell div {
  width: 13em;
  height: 13em;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: #ffca00;
  transition: 0.3s all ease-in-out;
}

.cell div:hover {
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  cursor: pointer;
}

.cell div:hover > img {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  transition: 0.5s;
}

.cell div img {
  width: 70%;
  height: 70%;
  padding: 15%;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
}

#landing .cell {
  margin-top: 100px;
}

#landing .cell div {
  transform: scale(1);
}

#landing .cell div img {
  transform: scale(1);
}

#landing .cell:hover div p {
  transform: scale(1.1);
}

#landing .cell p {
  color: black;
  padding: 0.5em;
  background: #ffca00;
  opacity: 0;
  transition: 0.3s all ease-out;
  margin-top: 2em;
}

#landing .cell:hover p {
  opacity: 1;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
}

.productGrid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
}

.productGrid div:first-child img {
  width: 100%;
}

.productGrid div:first-child #chci-objednat {
  padding: 0.5em;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border: none;
  background-color: #ffca00;
  color: white;
  font-weight: 600;
  width: 50%;
  margin: 0 250 0 25%;
  font-size: 1em;
}

.productGrid div:first-child #chci-objednat:hover {
  transition: 0.3s;
  background-color: black;
  color: white;
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  .productGrid #fotka img,
.productGrid .info {
    width: 100% !important;
    display: block;
  }
}
.content {
  font-size: 1em !important;
  font-weight: 400;
  line-height: 2em;
}

.content a {
  font-weight: 500;
  color: #ffca00;
  transition: 0.3s color;
}

.content li {
  list-style-type: square;
}

.content a:hover {
  text-decoration: underline;
  color: #000000;
}

.content h2 {
  font-size: 1.5em;
}

.wpcf7 {
  display: block;
  margin: 0 auto;
}

.wpcf7 input,
.wpcf7 textarea,
.wpcf7 select,
.wpcf7 button {
  background: #fff;
  border: 2px solid black;
  border-radius: 3px;
  margin-top: 0.5em;
  padding: 0.5em;
  width: 30em;
}

.wpcf7 textarea {
  resize: none;
}

.wpcf7 select {
  cursor: pointer;
}

.wpcf select option {
  background: #ffca00;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

.top-nav-icons {
  width: 25em;
  box-sizing: border-box;
  text-align: center;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: flex-end;
  justify-content: center;
  padding: 0.5em 1em;
  border-radius: 30px;
  display: none;
}

.top-nav-icons a img {
  background: #ffca00;
  width: 60%;
  display: inline-block;
  padding: 0.3em;
  border: 2px solid #ffca00;
}

.top-nav-icons a img:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  cursor: pointer;
  border: 2px solid black;
}

@media screen and (max-width: 700px) {
  header span {
    display: none;
  }

  .wrapper {
    padding: 0 1em;
  }
}

/*# sourceMappingURL=main.css.map */
